<ion-header translucent></ion-header>

<ion-content fullscreen>
  <ion-list *ngIf="pokemons.length > 0">
    <ion-grid *ngFor="let pokemon of pokemons">
      <ion-row class="ion-align-items-center">
        <ion-col size="3">
          <ion-img [src]="pokemon.sprite"></ion-img>
        </ion-col>
        <ion-col size="4">
          <ion-text class="ion-text-capitalize">{{pokemon.name}}</ion-text>
        </ion-col>
        <ion-col size="2">
          {{pokemon.type1}}
        </ion-col>
        <ion-col size="2">
          <ion-text *ngIf="pokemon.type2">
            {{pokemon.type2}}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid >
  </ion-list>
  <ion-infinite-scroll threshold="50px" (ionInfinite)="getPokemons($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
